@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,500;1,300&display=swap");
:root {
  --bg: hsla(275, 43%, 5%, 1);
  --text: hsla(98, 80%, 98%, 1);
  --input: hsla(274, 28%, 8%, 1);
  --button: hsla(274, 16%, 8%, 1);
  --error: hsla(49, 93%, 47%, 1);
  --font: 'Roboto',
        sans-serif;
}

:root {
  --alpha: 1;
  --alpha-2: 0.8;
  --alpha-3: 0.6;
  --alpha-4: 0.4;
  --alpha-5: 0.2;
}

html {
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  min-width: 100%;
  overflow-x: hidden;
  font-size: 100%;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*::after,
*::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

img {
  max-width: 100%;
  display: block;
  overflow: hidden;
}

a {
  text-decoration: none;
}

svg:not(#eye):not(#icon) {
  width: 24px;
  height: 24px;
  pointer-events: none;
}

body {
  background-color: var(--bg);
  font-family: 'Roboto', sans-serif;
  line-height: 1.75;
  position: relative;
  overflow: hidden;
  -webkit-transition: background 0.4s ease-in-out;
  transition: background 0.4s ease-in-out;
}

#root,
html,
body,
.outer--wrapper {
  height: 100%;
}

main {
  height: 100%;
  padding: 3em 1em;
  max-width: 480px;
}

.form--control {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin: 0 0 1.5em 0;
}

.form--control label {
  font-size: 0.875rem;
  text-transform: uppercase;
  color: var(--text);
  font-weight: 400;
  letter-spacing: 0.195em;
  margin: 0 0 16px 0;
}

.form--control input {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: none;
  background-color: var(--input);
  height: 40px;
  color: var(--text);
  padding: 0 0 0 1em;
  width: 100%;
}

.form--control small {
  color: var(--error);
  font-size: 0.75rem;
  text-transform: uppercase;
  letter-spacing: 0.195em;
  font-weight: 300;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin: 4px 0 0 0;
}

.form--control small svg {
  margin: 0 0 0 4px;
}

#submit {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: none;
  display: inline-block;
  font-size: 1.25rem;
  padding: 0.6em 1.2em;
  cursor: pointer;
  border-radius: 4px;
  letter-spacing: 0.04em;
  line-height: 24px;
  width: 100%;
  color: var(--text);
  background-color: var(--button);
  border-radius: unset;
}

.pass--wrapper {
  position: relative;
}

#show--pass {
  position: absolute;
  top: 1em;
  right: 1em;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: none;
  background-color: unset;
  cursor: pointer;
}
/*# sourceMappingURL=Styles.css.map */